<div class="container">
  <footer class="footer"
    <small>
	  copyright &copy; <a href="www.google.com">Google</a>
	  by Aswathy
     </small>
     <nav>
     <ul>
      <li><%= link_to "About" , welcome_about_path%></li>
     </ul>
     </nav>
  </footer>
</div>

